APP_NAME=JactoMovies

APP_ENV=local

APP_KEY=base64:SEU_APP_KEY_AQUI

APP_DEBUG=true

APP_URL=http://localhost

  

LOG_CHANNEL=stack

LOG_LEVEL=debug

  

DB_CONNECTION=pgsql

DB_HOST=db

DB_PORT=5432

DB_DATABASE=laravel

DB_USERNAME=laravel

DB_PASSWORD=laravel

  

BROADCAST_DRIVER=log

CACHE_DRIVER=file

QUEUE_CONNECTION=sync

SESSION_DRIVER=file

SESSION_LIFETIME=120

  

JWT_SECRET=

API_AUTH_DRIVER=jwt